@model IEnumerable<contactListWithFirebase.Models.Entities.Contact>

@{
    ViewBag.Title = "getAllRecords";
}

<h2>Kayıtlı Kişiler</h2>

<p>
    @Html.ActionLink("Yeni Kayıt", "addNewRecord")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.communicationValueI)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.communicationValueIII)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.communicationValueI)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.communicationValueIII)
            </td>
            <td>
                @Html.ActionLink("Görüntüle / Güncelle", "recordDetailView", new { firebaseDbID = item.dbId }) |
                @Html.ActionLink("Sil", "recordDetailDelete", new { firebaseDbID = item.dbId })
            </td>
        </tr>
    }

</table>
